/* Autocomplete datalist */
#directives-autocomplete-datalist input {
  padding: 1px 2px;
}

.vertical .df-tag-wrap {
  display: inline-block;
  min-width: 100px;
}
[df-tag-list] {
  margin: 0;
  padding: 0;
}
[df-tag-list] form {
  margin: 0;
}
[df-tag-list].vertical {
  min-height: 125px;
}
[df-tag-list] li {
  margin: 4px;
}
[df-tag-list].horizontal li {
  display: inline-block;
}
[df-tag-list] .df-tag-wrap i {
  opacity: 0;
}
[df-tag-add]:hover i {
  opacity: 0.3;
}
[df-tag-list] .df-tag-wrap:hover i, [df-tag-list] [df-tag-add]:hover i {
  opacity: 0.7;
}
.df-tag-wrap a {
  vertical-align: middle;
}
.horizontal .df-tag-wrap {
  padding: 1px 6px;
}
[df-tag-add] button, .horizontal .df-tag-wrap {
  border-radius: 3px;
  border: solid 1px #bbb;
  background: none;
  color: #888;
}
[df-tag-add]:hover button {
  border-color: #888;
  color: #555;
}
[df-tag-add] input {
  padding: 1px 4px;
  border: solid 1px #bbb;
  border-radius: 3px;
  width: 7em;
}
